@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px), radial-gradient(rgba(0, 0, 0, 0.2) 1px, white 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}